/*section heading styles*/

.ecq-section-heading{
    text-align: center;
    margin: 0;
}

.ecq-form-group{
    width: 100%;
    height: auto;
    margin: 20px;
    display: inline-flex;
    justify-content:center;
    align-items: center;
}

.ecq-form-input
{
    width:auto;
    margin-bottom: 3px;
    /*margin-left: 3px;*/
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.ecq-form-label{
    display: block;
    font-weight: bold;
    margin-left: 10px;  
}

.ecq-form-fieldset{
    border: 1px solid #ccc;
    margin-left: 5px;
    margin-bottom: 10px;
    padding: 5px;
    
}
.ecq-form-feildset label{
    display: block;
}

.ecq-label {
    font-style:oblique;
    font-weight: 700px;
}
 

.ecq-dist-cover{
    height: auto;
    width: 90%;
    margin: auto;
    border-radius: 5px;
    background-color: rgb(231, 231, 228);
}



.ecq-form{
    height: auto;
    width: 100%;
    position: relative;
    border-radius: 5px;
    /*background-color: rgb(231, 231, 228);*/
}

.form-group-ecq{
    margin-bottom: 20px;
}

#add-style{font-style: italic;
     padding: 5px;
}

/* Form Styles*/
.form-container-ecq{
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.form-select{
    width: 20%;
    border: 1px solid #ccc;
    font-weight: bold;
    margin: 2px;
    padding: 2px;
    border-radius: 5px;
}

.form-button-ecq{
    background-color:#007bff;
    color: #fff;
    margin: 5px;
    padding: 10px;
    width: 100px;
    border: 2px solid #fff;
    border-radius: 3px;
}

/* coverpage instruction*/
.form-instruction{
    text-align: center; 
    font-style: oblique;
}
.ecq-inst-para
{ 
    margin: 25px;

}
.text-cover p{
    display: block;
    /*font-weight: bold;*/
    text-align:justify;
    margin: 0px 2px;
    margin-left: 50px;
    
}

.form-instruction{
    text-align:center; 
    font-style: oblique; 
    font-size: 20px;
}

/*style for building evaluation forms*/
.evaluation-form{display:inline-block;}


.ecq-form{
    height: auto;
    width: 100%;
    position: relative;
    border-radius: 5px;
    /*background-color: rgb(231, 231, 228);*/
}



.ecq-form-button{
    width: max-content;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}



/*styling form side navigations*/
.ecq-sidenav
{
    height: 100%;
    width:fit-content; 
    border-radius: 5px;
    padding: 20px;
    background-color: rgb(204, 204, 200); 
    position: sticky; 
    
}

.ecq-sidenav li{
    list-style-type: none;
}

.ecq-sidenav a{
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    display: block;
    color: black; 
}

.ecq-sidenav a:hover
{
    text-decoration: none;
    color: white;  
}

.ecq-hori-nav a{
    color: black;
    margin: 10px;
}

.hori-nav-container{
    text-align: center; 
    border: 2px solid rgba(0, 0, 0, 0.2); 
    margin-top: 10px; 
    margin-bottom: 20px;
}
/*fieldset styling*/
.ecq-cover-fieldset{
    border: 0px;
}


.ecq-cover-fieldset{
    border: 0px;
}

.ecq-legend{
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
}
.ecq-form{
    height: auto;
    width: 100%;
    position: relative;
    border-radius: 5px;
    background-color: rgb(231, 231, 228);
}


