/*section heading styles*/

.ecq-section-heading{
    text-align: center;
    margin: 0;
}

/*style apply to cover page*/

.ecq-dist-cover /*cover page*/
{    
    height: auto;
    width: 90%;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(231, 231, 228);
}

.ecq-inst-para /*cover page*/
{ 
    margin: 25px;

}

.ecq-form-cover{  /*cover page*/
    width: 100%;
    border-radius: 5px;
    height: auto;
    margin: 20px;
    display: inline-flex;
    justify-content:center;
    align-items: center;
}

.ecq-form-cover label{  /*cover page*/
    font-weight: bold;
    margin-left: 5px;
}

.ecq-form-cover input{  /*cover page*/
    width: 200px;
    margin-bottom: 3px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-instruction-head   /* coverpage instruction*/
{   text-align:center; 
    font-style: oblique; 
    font-size: 20px;
}

.form-instruction   /* coverpage instruction*/
{   text-align:center; 
    font-style: italic; 
   
}
.form-instruction ul{
    list-style-type: none;
    margin: 0;
    padding: 5px;
}

.form-instruction li{
    list-style-type: none;
}
#add-style{font-style: italic;
    padding: 5px;
    margin-top: 10px;
}

.text-cover p{
    display: block;
    /*font-weight: bold;*/
    text-align:justify;
    margin: 0px 2px;
    margin-left: 50px;
    font-style: italic;
    
}


/* style for main form session*/

.ecq-form   /*form container style*/
{
    height: auto;
    max-width: 100%;
    border-radius: 10px;
   /* margin-right: 20px;*/
    background-color: rgb(231, 231, 228);
}

.form-group-ecq{   /*fieldset style*/
    border: 2px solid #ccc;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 10px;
    padding: 5px;
    flex-wrap: wrap;
}

.form-group-ecq label
{   display: inline-block;
    font-weight:600px;
    margin-left: 40px;  
    width: 200px;

}

.form-group-ecq input, textarea, select
{
    width: 200px;
    margin-bottom: 3px;
    /*margin-left: 3px;*/
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 100%;
    
}

.form-group-ecq input[type="radio"]
{
    width: 200px;
}

.sq-form-fieldset input[type="checkbox"]
{
    width: auto;
}

.cp-form-group{
    /*border: 2px solid #ccc;*/
    border-radius: 5px;
    max-width: 100%;
    margin: 0px;
    padding: 10px;
    margin-top: 20px;
    display: inline-block
}

.cp-form-group div{
    display: inline;
    margin: 0;
    padding: 5px;
    max-width: auto;  
}

.cp-form-group label{
    display: inline-block;
   
}

.cp-form-group input{
    border-radius: 5px;
    margin-bottom: 3px;
}

/*style for building evaluation forms*/
.buildeva-form{
    margin-bottom: 20px;
}

.buildeva-label
{
    display:inline-block;
}

.buildeva-input
{
    width: 200px;
    margin-bottom: 3px;
    /*margin-left: 3px;*/
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}


/*.form-select{
    width: 20%;
    border: 1px solid #ccc;
    font-weight: bold;
    margin: 2px;
    padding: 2px;
    border-radius: 5px;
}*/

.form-group-ecq /*style for div container of each fieldset*/
{
    margin-bottom: 20px;
}

/*.form-button-ecq{
    background-color:#007bff;
    color: #fff;
    margin: 5px;
    padding: 10px;
    width: 100px;
    border: 2px solid #fff;
    border-radius: 3px;
}*/


/* style for button*/
.ecq-form-button{
    width: max-content;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    text-align: center;
}

.button-container{
    margin-top: 20px;
    text-align: center;
}



/*styling form side navigations*/
.ecq-sidenav /*main container for side nav*/
{
    max-width: auto;
    height: 100%;
    background-color:rgb(204, 204, 200);
    display: flex;
    flex-direction: column;
    gap: 10px; /* Gap between navigation items */
    padding: 10px;
    border-radius: 10px;
    margin: auto;

    /*height: 100%;
    width:100%; 
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(204, 204, 200); 
    position: sticky; */
    
}

.navbox /*nav style*/
 {
    max-width: 100%;
    display: flex;
    font-size: 20px;
    padding: 20px;
    color: #050000;
    text-decoration: none;
}

.navbox i {
    margin-right: 10px;
}

.navbox a{
    text-decoration: none;

}

/* style for different display of link*/
.navbox:link{
    background-color: #7a6d6d;
    color: #d5daec;
}
.navbox a:visited{ 
    color:  #007bff;

}
.navbox:hover a{
    background-color: #555;
    color: #92b5db;
}

.navbox:active{
    color: #e57d38;
}

/* style for sub nav on staff profile*/
.ecq-hori-nav a{
    color: black;
    margin: 10px;
}

.hori-nav-container{
    text-align: center; 
    border: 2px solid rgba(0, 0, 0, 0.2); 
    margin-top: 10px; 
    margin-bottom: 20px;
}

.col-input{
    margin-left: 5px;
}

/*table styles*/
.table{
    max-width: 100%;
    height: auto;
    border-collapse: collapse;   
}

.table th td , caption{
    border: 2px solid black ;
}

caption{
    background-color: #767272;
    margin: 5px;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
    border-radius: 5rem;
    font-style: italic;
    font-weight: bold;

}

/*fieldset styling*/

legend{
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
}



