/* header styling*/
.header-nav ul{
    display: inline-flex;
    list-style-type: none;
  }

.header-nav ul li{
    width: 100px;
    margin: 10px;
    padding: 10px;
}  

.header-nav ul li a{
    text-decoration: none;
    color: white;

}

.active, .header-nav ul li:hover{
    background-color: darkblue;
    border-radius: 3px;
}

.sub-nav-1{
    display: none;
    color: black;
}

.header-nav ul li:hover .sub-nav-1{
    display: block;
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
}

.header-nav ul li.active > a::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid white;
    margin-left: 10px; 
    vertical-align: middle;
    
  }

.header-nav ul li:hover .sub-nav-1 ul{
    display: inline-flex;
    margin-top: 10px;
}

/* Form Styles*/
.form-container-ecq{
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group-ecq{
    margin-bottom: 20px;
}

.form-select{
    width: 20%;
    border: 1px solid #ccc;
    font-weight: bold;
    margin: 2px;
    padding: 2px;
    border-radius: 5px;
}

fieldset{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600px;
    border-radius: 4px;
    
}

.form-button-ecq{
    background-color:#007bff;
    color: #fff;
    margin: 5px;
    padding: 10px;
    width: 100px;
    border: 2px solid #fff;
    border-radius: 3px;
}

.form-body{
    background-color: #E8E8E8 ;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;
    padding: 10px;
}

.form_sidenav_ecq{
    background-color: rgb(123, 119, 119);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3rem;
    padding: 5rem;
}

.subnav_list{
    background-color: #082B64;
}

.form-table1{
    display: blockss;
}


/* welcome address styling */
.welcome-address .instructions{
    margin: 5px;
    padding: 10px;
    display: block;
    margin-bottom: 20px;
}
.welcome-address h1  {text-align: center;}

.welcome-address h4 {
    text-align: center;
    font-weight: bold;
    font-family:cursive;
    
}

.welcome-address p{
    text-align: center;
}

/*style for building evaluation forms*/
.evaluation-form{display: block;}