
.row {
  position: relative;
  top: 5px;
}

.col-3 {
  background-color: #ccc;
  padding: 20px;
  height: 100vh;
}

.col-3 ul {
  list-style-type: none;
}
.col-3 li a {
  text-decoration: none;
  font-family: monospace;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 20px;
}