
 /* Landing page styles */
 .welcome-info{
  margin: 6rem 0 4rem 0;
  text-align: center;
}
/* container styles */
.se_container {
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}
/* select options styles */
  .se_myForm select {
    padding: 10px;
    font-size: 16px;
    width: 40%;
    
  }
   

  /* next button styles */
  .se_myForm button {
    padding: .7rem 1.4rem;
    background-color: #4346e7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 2rem;
     
  }
  .se_myForm button:hover {
    background-color: #666;
  }
  .se_myForm button a{
    text-decoration: none;
    color: #fff;
  }
.se_myForm label{
  margin-bottom: 1rem;
}
/* Se_forms.html stlyles */

/* Section one */
.main-seq{
  display: flex;
  margin-top: 5rem;
  
  
}
 /* headings */
 .se_headings{
 text-align: center;
 margin-top: .6rem;
 }
/* side navigation Styles */
.se_nav{
  background-color: rgb(193, 193, 193);
  padding: .5rem;
   
 
}
 
.se_nav ul li{
  list-style-type: none;
  margin-bottom: 1rem;
  
  
  
}
.se_nav ul li a{
  text-decoration: none;
  color: #000;
  padding: .5rem;
  font-size:1rem;
  font-family: Arial, Helvetica, sans-serif;
}
.se_nav ul li a:hover{
  color:  #fff;
  background-color: #4346e7;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  padding: .5rem;
}
.se_nav ul li a:focus{
  background-color: rgb(0, 200,20);
  color:#fff;
  border-radius: 10px;
}
.se_nav ul li a:active{
  background-color: rgb(11, 235, 33);
  border-radius: 10px;
}

/* Column for displaying my forms styles */

 .se-form-display{
background-color: aliceblue;

  }
  /*  Enrolment forms styles */
  .se_form_tables {
      margin: 1rem;
      border-collapse: collapse;
     
     
  }
 .se_form_tables tr, th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: center;
  }
   .se_form_tables th {
      background-color: #f2f2f2;
  }
  .se_form_tables td input{
     width: 100%;
  }
  .se_fieldset{
    margin: 2rem;
  }
   
  
  