
 /* Landing page styles */
  
/* container styles */
.se_container {
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}
/* select options styles */
  .se_myForm select {
    padding: 10px;
    font-size: 16px;
    width: 40%;
    
  }
   

  /* next button styles */
  .se_myForm button {
    padding: .7rem 1.4rem;
    background-color: #4346e7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 2rem;
     
  }
  .se_myForm button:hover {
    background-color: #666;
  }
  .se_myForm button a{
    text-decoration: none;
    color: #fff;
  }
.se_myForm label{
  margin-bottom: 1rem;
}
/* Se_forms.html stlyles */

/* Section one */
.main-seq{
  display: flex;
  margin-top: 5rem;
  
  
}
 /* headings */
 .se_headings{
 text-align: center;
 margin-top: .6rem;
 }
/* side navigation Styles */

/* .sq-sidenav a
{ 
    
}
*/
 
  
   
  
  
 
.se_nav{
  background-color: rgb(50, 141, 239); 
  border-radius: .5rem;
  
  
  
 
   }
   .se_nav ul {
    padding:0;
    margin:0;
    list-style-type: none;
     
  
   
 }
 
 
.se_nav  a{
   border: 2px solid rgb(250, 250, 250); 
   display: inline-block;
   text-align: center;
   text-decoration: none;
   padding: 8px 12px;
   border-radius: 12px ;
   width: 100%;
   color: #fff;
   font-size: 18px;
   font-weight: bold;
}
.se_nav  a:hover{
  background-color: rgba(0,250,250,0.5);
  padding:8px ;
  margin-bottom: 5px;
  
}
.se_nav  a:focus{
   background-color: rgba(0,250,0,0.7);
   outline: 1px solid #fff;
   
} 
 

 /* .se_nav ul li a:active{
  background-color: rgb(11, 235, 33);
  border-radius: 10px;
} */

/* Column for displaying my forms styles */
 
 /* .se-form-display{
background-color: aliceblue; 

  }
   */
  .sq-form
{
    height: auto;
    width: 100%;
    position: relative;
    border-radius: 5px;
    background-color: rgb(231, 231, 228);
}
  /* forms styles */
  .se-form-container{
    max-width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
  }

  .se-form-group{
    margin-bottom: 20px;
     
  
  }
  .se-form-group label{
    display:inline-block;
    font-weight: bold;
    margin: 7px 0 5px 0;
    width: 50%;
  }
  .se-form-group input{
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 6px;
     
  }
  .se-form-group .others input{
     display:flex;
  }

  .se-form-group input:focus{
    border: 2px solid #d0d0;
  }
 
   
   /* labels with Checkboxes inputs */
    /* .secheck-form-group{
    display: flex;
    flex-direction: column;
     align-items: center;
     margin-bottom: .9rem; 
   }  */
     /* .secheck-form-group tr td input[type="text"]{
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
     }
     .secheck-form-group input[type="checkbox"]{
    display: inline;
    width: auto;
    margin-right: 5px;
      
     }
     .secheck-form-group label{
    display:inline;
    font-weight: bold;
    margin-bottom: 5px;
    width: 30%;
     } */
     .secheck-form-group{
      border-collapse: collapse;
      margin: .6rem;
     }
     

  
   
  .se_form_tables {
      margin: 1rem;
      border-collapse: collapse;
     
     
  }
 .se_form_tables tr, th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: center;
  }
   .se_form_tables th {
      background-color: #f2f2f2;
  }
  .se_form_tables td input{
     width: 100%;
  }
  .se_fieldset{
    margin: 2rem;
    border: 1px solid rgb(165, 161, 161);
  }
   
  /* Media query for screens with minimum width of 600px */
  @media only screen and (max-width: 670px){
   
    .se_nav a{
      display: inline; 
      font-size: .9rem;
      padding: .3rem;
      
    }
    
     
   }
   
   

  
  