body
{
    font-family: 'Montserrat', sans-serif;
}
.sq-section-bg
{
    background-color: #f8f9fa;
}
/* Side navigation style*/

.sq-sidenav
{
    height: 100%;
    width:fit-content; 
    border-radius: 5px;
    padding: 20px;
    overflow: auto;
}
.sq-sidenav-bg
{
    margin: 0;
    background-color: rgb(225, 225, 222);
}
/*figuring out the the way to fix the position of navigation bar while scrolling up and down*/
/*.sq-sticky{
    margin-top: 0;
    position: fixed;
}*/
.sq-sidenav a
{
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    padding: 5px;
    display: block;
    color: navy;
}
.sq-sidenav a:hover
{
    background-color: #6daaec;
    border-radius: 5px;
    text-decoration: none;
    color: white ;
    text-align: left;
}
.sq-sidenav a:active
{
    background-color: #007bff;
    border-radius: 5px;
    text-decoration: none;
    color: white ;
    text-align: left;
}
/*.sq-sidenav a:focus
{
    background-color: #007bff;
    border-radius: 5px;
    text-decoration: none;
    color: white ;
    text-align: left;
}*/
.sq-focus
{
    background-color: rgb(129, 134, 140);
    color: white;
    font-style: italic;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none; 
}
/* Body style*/

.sq-section-heading
{
    text-align: center;
    margin: 0;
}
.sq-cover{
    height: auto;
    width: 90%;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(231, 231, 228);
}
/*.sq-cover-para
{
    margin-left: 25px;
    margin-right: 25px;
    text-indent: 50px;
    text-align:justify;
}*/
/*.sq-cover li
{
    margin-left: 10px;
    padding: 5px;
    text-align:justify;
    list-style-type: circle;
    list-style-position: inside;
}*/
.sq-cover-align{
    display: block;
}
.sq-cover-button
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sq-cover-button input
{
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin-left: 10px;
}

/* Forms styling*/
.sq-item-container
{
    max-width: auto;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
   /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); background-color: #63686d;*/
}
.sq-form-group /* for cover page*/
{
    width: auto;
    height: auto;
    margin-bottom:20px;
    margin-left: 20px; 
}
.sq-form-group label /* cover page*/
{
    font-weight: bold;
    margin-left: 5px;
    width: auto;
    display: block;
    text-align: center;
}
.sq-form-group input,select
{
    width: 200px;
    margin-bottom: 3px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.sq-form-group li,p
{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    text-align:justify;
    list-style-type: circle;
    list-style-position: inside;  
}
.sq-form  /*other forms */
{
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;   
}
.sq-form-button{
    width: max-content;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
    /*position: relative;*/
}
.sq-form-fieldset
{
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    padding: 5px;
}
.sq-form-fieldset legend
{
    font-size:medium;
    font-style: italic;
    color: gray;
}
.sq-form-fieldset label
{
    display: inline-block;
   /* font-weight: bold;*/
    margin-left:  5px;
    width: 200px;
}
.sq-form-fieldset input, select, textarea
{   
    
    width: 300px;
    margin-bottom: 3px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.sq-form-fieldset input[type="checkbox"]
{
    width: auto;
}
.sq-form-fieldset input[type="radio"]
{
    width: auto;
}
.sq-cvq-form /* this class has been used only in secQCVQ file */
{
    margin-left: 20px;
    padding: 20px;
    text-align: center;
    width:50%;
    position: relative;
    border-radius: 5px;
    background-color: rgb(243, 243, 236);
}
.sq-cvq-form-checklist
{
    margin-left: 5px;
    margin-bottom: 10px;
}
.sq-input-align
{   
    display:inline-table;
}
.sq-input-align-staff
{
    display:inline-table;
}
.sq-input-align-staff input[type="checkbox"]
{
    display: inline-block;
}

/* table styling*/
.sq-table
{
  height: auto;
  width: max-content;
  position: relative;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(231, 231, 228);
}
.sq-table-input
{
    width: fit-content;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.sq-hori-nav
{
    background-color: rgb(237, 240, 240);
    margin: 15px;
    text-align: center;
    overflow: auto;
}
.sq-hori-nav a
{
    color: black;
}

/* New table style*/
.sq_form_tables 
{    
    margin-left: auto;
    margin-right: auto;
    border-collapse:collapse;
    background-color: rgb(231, 231, 228);
}
.sq_form_tables caption{
    font-size:medium;
    font-style: italic;
    color: gray;
}
.sq_form_tables tr, th, td {
    border: groove 1px rgb(136, 137, 132);
    padding: 8px;
    text-align: center;
}
 .sq_form_tables th {
    background-color: #f2f2f2;
}
.sq_form_tables td input{
  width:100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.sq-footer
{
    background-color: #f8f9fa;
    padding: 20px 0;
    width: 50%;
    margin: auto;
    text-align: center; 
    justify-content: center;
}




